<!--
<div href="#" class="button split dropdown>
  <a><i class="icon-user-md"/> Current User</a>
  <span></span>
  <ul>
    <li><a href="#">Dropdown Item</a></li>
    <li><a href="#">Another Dropdown Item</a></li>
    <li class="divider"></li>
    <li><a href="#action-sign-out">Sign Out</a></li>
  </ul>
</div>
-->
<!--
<div class="user-console">
-->

<div class="current-user">
	<div class="user-details">
		<p class="user-name">brad strong</p>
		<p class="user-title">Physician</p>
	</div>
</div><!--/.current-user-->
<div class="drawer">
	<ul class="drawer-menu user-settings-menu is-collapsed">
	{{!
		<li id="UserConsolePreferences"><a id="PreferencesLink" href="preferences.html">My Profile &amp; Settings</a></li>
		<li><a id="Logout" href="/User/LogOut">Logout</a></li>
		}}
		<!-- Begin Test -->
<nav class="top-level-nest">
<ul>
  <li>
    <a href="#">Cardiology</a>
    <ul>
      <li><a href="#">Arrhythmia/Heart Rhythm Disorder</a></li>
      <li><a href="#">Acute coronary syndrome /coronar artery disease</a></li>
      <li><a href="#">Heart Failure and Transplantation </a></li>
      <li><a href="#">Heart Health-Prevention and Rehabilitation</a></li>
      <li><a href="#">Imaging</a></li>
      <li><a href="#">Pediatric and Congenital Heart Conditions</a></li>
      <li><a href="#">Valvular Heart Disease</a></li>
      <li><a href="#">Vascular and Aortic Disease</a></li>
      <li><a href="#">Hypertension</a></li>
      <li><a href="#">Intervenional cardiology</a></li>
    </ul>
  </li>

  <li>
    <a href="#">Dermatology</a>
    <ul>
      <li><a href="#">Dermatopathology</a></li>
      <li><a href="#">Medical Dermatology </a></li>
      <li><a href="#">Complex Medical Dermatology</a></li>
      <li><a href="#">Cosmetic Dermatology</a></li>
      <li><a href="#">Dermatological Surgery</a></li>
      <li><a href="#">Pediatric Dermatology</a></li>
      <li><a href="#">Occupational Dermatology and Contact Dermatitis</a></li>
    </ul>
  </li>

  <li>
    <a href="#">Urology</a>
    <ul>
      <li><a href="#">urologic cancer</a></li>
      <li><a href="#">stone disease</a></li>
      <li><a href="#">infertility & andrology</a></li>
      <li><a href="#">Male Voiding Dysfunction</a></li>
      <li><a href="#">Female Urology</a></li>
      <li><a href="#">pediatric urology</a></li>
      <li><a href="#">Urinary Tract Infections</a></li>
      <li><a href="#">Urologic Trauma</a></li>
    </ul>
  </li>

  <li>
    <a href="#">Eye Care</a>
    <ul>
      <li><a href="#">Low Vision/ Neurorehabilitative Optometry</a></li>
      <li><a href="#">Refractive Surgery Comanagement</a></li>
      <li><a href="#">Sports Vision/Vision Therapy</a></li>
      <li><a href="#">Contact Lenses</a></li>
      <li><a href="#">Pathology</a></li>
      <li><a href="#">Retina</a></li>
      <li><a href="#">Glaucoma</a></li>
      <li><a href="#">Cataract/ anterior disease</a></li>
      <li><a href="#">Refractive management</a></li>
      <li><a href="#">Uveitis</a></li>
      <li><a href="#">Neuro- ophthalmology</a></li>
      <li><a href="#">Oculoplastics</a></li>
      <li><a href="#">Pediatric ophthalmology</a></li>
      <li><a href="#">Cornea and External Disease</a></li>
    </ul>
  </li>

  <li>
    <a href="#">Primary Care</a>
    <ul>
      <li><a href="#">Family Practice/Integrative medicine</a></li>
      <li><a href="#">General Internal medicine</a></li>
      <li><a href="#">Pediatrics</a></li>
      <li><a href="#">Dermatology</a></li>
      <li><a href="#">Cardiology (general)</a></li>
      <li><a href="#">Urology</a></li>
      <li><a href="#">Oncology (for screening)</a></li>
      <li><a href="#">Endocrine (for diabetes)</a></li>
      <li><a href="#">Psychiatry/Mental Health</a></li>
      <li><a href="#">Preventative Medicine</a></li>
      <li><a href="#">Healthcare Policy/healthcare reform expert/ACO</a></li>
      <li><a href="#">Evidence-based medicine</a></li>
      <li><a href="#">Pain specialist</a></li>
      <li><a href="#">Rheumatology/Immunology</a></li>
      <li><a href="#">Infectious Disease/immunization</a></li>
      <li><a href="#">Wellness/Lifestyle/Nutrition</a></li>
      <li><a href="#">Orthopedics/sports medicine</a></li>
    </ul>
  </li>

  <li>
    <a href="#">Oncology</a>
    <ul><li><a href="#">Sample Cancer Type</a></li></ul>
  </li>
</ul>
</nav>
		<!-- End Test -->
	</ul><!--/.drawer-menu-->
	<div class="drawer-toggle">
		<a class="drawer-toggle-button edit-user-settings"><i class="icon-angle-down icon-large"></i></a>
</div><!--/.drawer-toggle -->
</div><!--/.drawer-->
<!--
</div><!--/.user-console-->
