//HEADER
.page-header{
	//#main-nav{@extend .right;}
	@extend	.contain-to-grid;
}

.page-content{
	@include  grid-row();
	// clear: both;
	padding-bottom: 1em*2;
	@media only screen and (max-width: $topBarBreakPoint) {
		.page-content{margin-top:$topBarHeightMobile;}
	}
}

// FOOTER
.page-footer{
	@include  grid-row();
	// padding:$topbar-height inherit;
}

.footer-section-container{
	// @include grid-column(12);
	.footer-section{
		// @include  grid-row();
	}
}

.footnotes a {
	word-break: break-all;
	word-break: break-word;
	hyphens: auto;
}

// Flag
.flag-container{
	//@include  grid-row();
	@include grid-column(12);
	font-family: $headerFontFamily;
	line-height:1.5;
	padding-top: 1em/2;
	padding-bottom: 1em/2;
}

//Pages

/* Page Layouts */
/* !Base Layout */
#dashboard,.dashboard{}
// #sidebar{padding-right:0;}
section[role="complementary"]{width:20%; float: left;}
section[role="main"]{width: 80%; float: right; @extend .clearfix;}
#aux, .aux, .recommended{
	@include grid-column(5, $float: left);
	@media only screen and (max-width: $topBarBreakPoint) {
		padding-top: 1em * 4;
		}
}

/* !Update Layout */
.stream-container{@include grid-column(7, $float: left);}

/* !Explore Layout */
.explore-container{@include grid-column(7, $float: left);}

/* !Learn Layout */
.cme-container{@include grid-column(12);}

/* !Single Item */
.single-item-container{@include grid-column(7, $float: left);}

/* !Explore Layout */
.register-container{@include grid-column(7, $float: left);}

/* !User Directory */
.user-directory-container{@include grid-column(7, $float: left);}
.user-profile-container{@include grid-column(7, $float: left);}
.channel-list-container{@include grid-column(7, $float: left);}

/* !Static pages */
.static-container{@include grid-column(7, $float: left);}

/* Page Specific Styles */
/* Update Page */
//.load-more{
//	@include grid-column(6, center);
//	text-align: center;
//	padding-top:1em;
//	padding-bottom:1em;
//}

/* Channel Listing Page */
.channel-list{
	@include  grid-row();
}
.single-channel{
	@include grid-column(6, $float: left);
}
/* Preferences*/
.pref-container{@include grid-column(12, $float: left);}
.pref-content{@include  grid-row(); padding:{top:1em; bottom:1em;}}
#pref-tabs{@include grid-column(3, $float: left);}
#pref-tabs-content{@include grid-column(8, $float: left);}

/* Static Pages (footer utility links) */
/*Start: static-container*/
.static-container{
	// ul,ol {
	// 	padding:0 0 0 30px;
	// }

	li{
		margin:10px 0 0;
	}
	span {
		font-size:14px;
		float:left;
		clear:both;
		width:100%;
	}
	p.phone {
		font-size:14px;
		line-height: 22px;
	}
	p {
		font-family: inherit;
	    font-size: 14px;
	    font-weight: normal;
	    line-height: 24px;
	    margin-bottom: 26px;
	}
	span.bolder {
		font-size:14px;
		float:none;
		clear:none;
		font-weight:bold;
		width:auto;
	}
	h2 {
		font-size:22px;
		font-weight:bold;
		text-transform:uppercase;
		margin:0 0 15px;
	}
	h3 {
		font-size: 18px;
	    font-weight: normal;
	    margin: 0 0 6px;
	}

	h4 {
		font-size:16px;
	}
	p.phone-contact {
		margin:-30px 0 26px;
	}
	.links {
		margin:0 20px 20px 0;
	}
}