// FORM
.form-header{}
.form-title{
	@extend h5;
	padding: .25em 0;
}
.form-row{@include grid-row(collapse);}
.form-row-label{padding:0;}
.form-description{@extend .subheader;}
.form-action{}

.form-submit{@extend .button; @extend .primary;}
.form-cancel{@extend .button; @extend .secondary;}

.help-block{
	display: block; padding: 6px 4px; margin-top: -($form-spacing) - 1; margin-bottom: $form-spacing;
}

//Preferences
.checked-list{
	@include  grid-row();
	li{@include grid-column(6);}
}