/*Start: footer*/
/*End: footer*/
/* line 26, ../scss/_ie7.scss */
.lt-ie9 .top-bar section {
  width: auto;
}

/* line 29, ../scss/_ie7.scss */
.lt-ie9 .login-register-container {
  float: left;
  width: 700px;
}

/* line 33, ../scss/_ie7.scss */
.lt-ie9 .off-canvas-control {
  display: none;
}

/* line 36, ../scss/_ie7.scss */
.brand-container.six.columns {
  width: 700px;
}

/* line 39, ../scss/_ie7.scss */
.lt-ie9 #formLogin {
  width: 300px;
  float: left;
}

/* line 43, ../scss/_ie7.scss */
.lt-ie9 #formRegisterPrompt {
  width: 350px;
  float: left;
}

/* line 47, ../scss/_ie7.scss */
.lt-ie9 .alert-box.alert {
  width: 100%;
}

/* line 50, ../scss/_ie7.scss */
.lt-ie9.lt-ie8 #formLogin input[type="text"] {
  width: 90%;
  height: 22px;
  padding: 10px 6px 4px;
}

/* line 55, ../scss/_ie7.scss */
.lt-ie9.lt-ie8 #formLogin .password {
  margin: 0 16px 0 -15px;
  float: left;
  width: 166px;
}

/* line 61, ../scss/_ie7.scss */
.lt-ie9 #formLogin .password input,
.lt-ie9.lt-ie8 #formLogin .password input {
  margin: 0;
  float: left;
  width: 150px;
  height: 22px;
  padding: 10px 6px 4px;
}

/*Start: page with sidebar*/
/* line 69, ../scss/_ie7.scss */
.lt-ie9 #sidebar {
  width: 255px;
  margin: 0;
}

/* line 73, ../scss/_ie7.scss */
.lt-ie9 [role="main"] {
  width: 1140px;
}

/* line 77, ../scss/_ie7.scss */
.lt-ie9 .explore-container,
.lt-ie9 .stream-container {
  float: left;
  width: 700px;
  margin: 0 20px 0 0;
}

/* line 83, ../scss/_ie7.scss */
.lt-ie9 #aux.recommended,
.lt-ie9 .recommended {
  width: 360px;
  float: left;
}

/*Start: sidebar*/
/* line 88, ../scss/_ie7.scss */
.lt-ie9 .drawer-toggle-button.edit-user-settings {
  background: url("../img/arrow.jpg") no-repeat center 0 white;
  float: left;
  height: 23px;
  width: 100%;
}

/* line 94, ../scss/_ie7.scss */
.lt-ie9 .icon-angle-down.icon-large {
  display: none;
}

/*End: sidebar*/
/*End: page with sidebar*/
